.padre {
    width: 100%;
    height: 100%;
}


.caja1 img {
    width: 700px;
}


.caja3 img {
    width: 100%;
}

.caja4 img ,.caja5 img,.caja6 img{
    width: 90%;
    margin: auto;
}

.caja1, .caja2{
    display: inline-block;
}

.caja4,.caja5,.caja6 {

    display: inline-block;
    margin-bottom: 20px;
    width: 33%;

}

.caja8{
    width: 100%;
    height: 15px;
    background: #BCBBBB;
}





.caja2 {
    float: right;
    color: #BCBBBB;    
    
}

 .caja2 h1 {
    font-size: 150px;
    text-align: right;
}


.caja2 h2{
    font-size: 70px;
    text-align: right;

}


.texto1 {
    font-size: 150px;
    text-align: center;
    color: #747704;
}

.texto2 {

    font-size: 80px;
    color:  #BCBBBB;
    text-align: center;

}

.texto0{
    font-size: 150px;
    color: #BCBBBB;
}